<!DOCTYPE html>
<html lang="en">

<head>
   <title>CURD</title>

   {{!-- <link rel="stylesheet" href="public/css/style.css"> --}}
   <link rel="stylesheet" href="server/controllers/css.css">

</head>

<body>
   <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0%;
    padding:0%;
}
html{
    background-color: cadetblue;
}

body{

    font-family: 'roboto','sans-serif' ;
    height: 1000px;
    width:400px;
    background-color: white;
    margin:0 auto;
    font-size: 10px;

}
h3{
    font-size: 18px;
    color:tomato;
    padding:10px;
    border-bottom: 1px solid #afafaf;
}
 
table{
     width:100%;
     margin-top:20px;
     padding:10px;

}
table thead td{
    padding:5px;
    background-color: lightslategray;
    color:white;
    text-align: center;
   

}
table tbody td{
    padding:5px;
    text-align: center;
}
table tbody tr:nth-child(even){
    background-color: rgba(211, 211, 211, 0.726);
}
.edit,.delete{
    text-decoration: none;
    color:white;
    display:block;
    width:35px;
    padding:2px;
    border-radius: 3px;
    background-color: blueviolet;
    text-align: center;
}
.delete{
    background-color: red;
}
.form-group label{
  color: rgb(247, 247, 247);
  padding: 20px;
  font-size: 19px;
  color:  rgb(10, 182, 167);
  letter-spacing: 0.05cm;
}

form {
   text-align: center;
   margin-top:10%;  
   border: 2px solid rgb(2, 2, 2);
   padding: 25px;
   border-radius: 5px;
   background-color: rgb(81, 103, 121);
   
}

.form-group{
   padding: 20px;
}
 input{
   border: 2px solid rgb(10, 182, 167);
 }
 .btn{
    background-color: rgb(10, 182, 167);
    border-radius: 5px;
    border: 2px solid black;
    padding: 5PX;

 }
a{
   padding: 2px;
   background-color: rgb(10, 182, 167);
   border-radius: 5px ;
   
}
.alert{

   background-color: rgb(255, 255, 255);
    color: red;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
   </style>

   {{{body}}}

</body>


</html>